@charset "utf-8";
/* reset */
* {outline: none;}
html{overflow:scroll;overflow-x:auto;-webkit-text-size-adjust: 100%;}
body{min-width:320px;margin:0px;padding:0px;box-sizing:border-box;letter-spacing: -1px;-webkit-text-size-adjust: 100%;
font-family: '맑은 고딕', 'malgun gothic', 'Apple SD Gothic Neo-Regular', '돋움', dotum, sans-serif; font-size:14px;line-height:16px;color:#111;/* word-break:keep-all;overflow-wrap:break-word : 기본 폰트가 noto sans CJK 일때 */}
section, article, aside, nav, header, footer{display:block}
button{display:block;background:none;;margin:0;padding:0;border:none;cursor:pointer}
img{border:none;vertical-align:top}
h1, h2, h3, h4, h5, h6{margin:0;padding:0;font-weight:normal}
p{margin:0;padding:0}
ol, ul, dl, li, dt, dd{margin:0;padding:0;list-style:none}
textarea{margin:0;padding:0;border:none;resize:none}
input{margin:0;padding:0;border:none;font-weight:normal;vertical-align:baseline;-webkit-appearance:none;-moz-appearance:none;appearance:none}
input:focus,textarea:focus{outline-style:none}
a{text-decoration:none;outline:none} a:hover, a:active, a:focus, a:visited {color: #111;}
a:hover{text-decoration:none}
a[href^="tel:"] { color: #fff; text-decoration: none; }
address, em{font-style:normal}
strong{font-weight:normal}
table{border-collapse:collapse;border-spacing:0;vertical-align:baseline}
th{font-weight:normal;text-align:left}
